{% extends 'base.html' %}
{% load widget_tweaks %}

{% block title %}
    Novo Usuário - {{ block.super }}
{% endblock title %}
    


{% block body %}
    
    <div class="container">
        <h1>Novo Usuário</h1>
        {% include 'partials/messages.html' %}
        <div class="row">
            <div class="col-md-12">
                <form method='POST'>
                {% csrf_token %}
                    <div class="form-group">
                      <label for="{{ form.first_name.id_for_label }}">Nome</label>
                      {{ form.first_name|add_class:"form-control"|attr:"autofocus"}}
                    </div>
                    <div class="form-group">
                      <label for="{{ form.last_name.id_for_label }}">Sobrenome</label>
                      {{ form.last_name|add_class:"form-control"}}
                    </div>
                    <div class="form-group">
                      <label for="{{ form.email.id_for_label }}">E-mail</label>
                      {{ form.email|add_class:"form-control"}}
                    </div>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                  </form>
            </div>
        </div>
    </div>



{% endblock body %}
    