{% extends 'base.html' %}

{% load widget_tweaks %}


{% block title %}
    Trocar Senha - {{ block.super }}
{% endblock title %}


{% block body %}
    
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Alterar senha</h1>
                {% include 'partials/messages.html' %}
                <form method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="{{ form.old_password.id_for_label }}">Senha antiga</label>
                      {{form.old_password|add_class:"form-control"|attr:"type:password"}}
                    </div>
                    <div class="form-group">
                      <label for="{{form.new_password1.id_for_label}}">Nova senha</label>
                      {{form.new_password1|add_class:"form-control"|attr:"type:password"}}
                    </div>
                    <div class="form-group">
                        <label for="{{form.new_password2.id_for_label}}">Confirmar Senha</label>
                        {{form.new_password2|add_class:"form-control"|attr:"type:password"}}
                      </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                  </form>
            </div>
        </div>
    </div>

{% endblock body %}
    