{{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}

    Lista de Tarefas - {{ block.super }}
{% endblock title %}


{% block body %}
    
    <div class="container">
        <h1> Tarefas de Hoje<h1>  
        <div class="row">
            <form class="form-inline my-2 my-md-0" action="{% url 'core:search_tasks' %}">
                <input class="form-control" name="query" type="text" placeholder="Busca" aria-label="Search">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" name="is_conclued">
                    Concluído
                </label>
                <br>
                <label>Data de início</label>
                <input class="form-control" type="date"  name="date_start_with">
                <label>Data Final</label>
                <input class="form-control" type="date"  name="date_end_with">
                <button class="btn btn-outline-success my-2 my-sn-0" type="submit">Buscar</button>
            <div class="col-md-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Tarefa</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Data Final</th>
                        <th scope="col">Prioridade</th>
                        <th scope="col">Status</th>
                        <th scope="col">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                          {% for task in tasks  %}
                          <tr>
                            <td>{{ task.name}}</td>
                            <td>{{task.description}}</td>
                            <td>{{task.end_date}}</td>
                            <td>{{task.get_priority_display}}</td>
                            <td>{{task.get_status_display}}</td>

                            <td>
                              <a href="{% url 'tasks:details_task' task.id %}" class="btn btn-primary btn-sm">Detalhes</a>
                              <a href="{% url 'tasks:edit_task' task.id %}" class="btn btn-primary btn-sm">Editar</a>
                              <a href="{% url 'tasks:delete_task' task.id %}" class="btn btn-danger btn-sm confirm-delete" data-toggle="modal", data-target="#confirmDeleteModal" id="deleteButton-{{ task.id }}" >Excluir</a>
                            </td>
                          </tr>
                          {% endfor %}   
                    </tbody>
                  </table>
            </div>
        </div>
        {% include 'partials/confirm_delete_modal.html' %}
    </div>

{% endblock body %}