{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}

    Adicionar Categoria - {{ block.super }}
{% endblock title %}


{% block body %}
    
    <div class="container">
        <h1> Editar Categoria<h1>
        <div class="row">
            <div class="col-md-12">
                <p>{{task.name}}</p>
                <p>{{task.description}}</p>
                <p>{{task.end_date}}</p>
                <p>{{task.get_priority_display}}</p>
                <p>
                {% for category in categories %}
                    {{category.name}}
                {% endfor %}
                    </p>
                <p>{{task.get_status_display}}</p>
            </div>
        </div>
    </div>

{% endblock body %}
    