{% extends 'base.html' %}
{% load widget_tweaks %}


{% block title %}

    Adicionar Categoria - {{ block.super }}
{% endblock title %}


{% block body %}
    
    <div class="container">
        <h1> Lista de Categorias<h1>  
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Descrição</th>
                        <th scope="col">Ações</th>
                      </tr>
                    </thead>
                    <tbody>
                          {% for category in categories  %}
                          <tr>
                            <th scope="row">{{category.id }}</th>
                            <td>{{ category.name}}</td>
                            <td>{{category.description}}</td>
                            <td>
                              <a href="{% url 'category:edit_category' category.id %}" class="btn btn-primary btn-sm">Editar</a>
                              <a href="{% url 'category:delete_category' category.id %}" class="btn btn-danger btn-sm confirm-delete" data-toggle="modal", data-target="#confirmDeleteModal" id="deleteButton-{{ category.id }}" >Excluir</a>
                            </td>
                          </tr>
                          {% endfor %}   
                    </tbody>
                  </table>
            </div>
        </div>
        {% include 'task/confirm_delete_modal.html' %}
    </div>

{% endblock body %}
    
    