{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        <title>{% block title %} TodoApp {% endblock title %}</title>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">TodoApp</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07"
                aria-controls="false" aria-label="Toglee nagivation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarExample07">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'category:list_categories' %}">Listar Categoria<span class="sr-only"></span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'category:add_category' %}">Adicionar Categoria</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Adicionar Tarefa</a>
                        </li> 
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">Listar Tarefa</a>
                        </li>
                        
                </div>
            </div>
        </nav>
        {% block body %}
            
        {% endblock body %}
        <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
    </body>
</html>