
.select2-selection__choice__display{
    margin-left: 15px;
    padding-left: 15px;
    font-size: 25px;
    text-align: center;
}

.select2-selection__choice{
    margin-right: 10px;
    margin-top: 10px;
}

#profile-photo{
    float: right;
}